Source: kdepim
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           Michael Meskes <meskes@debian.org>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Eshat Cakar <info@eshat.de>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: akonadi-server (>= 1.12.42), akonadi-server (<< 1.13),
               baloo-dev (>= 4:4.13), baloo-dev (<< 4:4.14.4),
               cmake,
               debhelper (>= 8),
               kdepimlibs5-dev (>= 4:4.13), kdepimlibs5-dev (<< 4:4.14.4),
               libakonadi-dev (>= 1.12.42), libakonadi-dev (<< 1.13),
               libassuan-dev,
               libboost-dev (>= 1.40.0-2),
               libboost-graph-dev (>= 1.40.0-2),
               libgpgme11-dev,
               libgrantlee-dev (>= 0.3.0),
               liblink-grammar4-dev,
               libphonon-dev (>= 4:4.6.0really4.3.80),
               libprison-dev,
               libqca2-dev (>= 2.0.0),
               libqjson-dev,
               libqt4-opengl-dev,
               libqtwebkit-dev,
               libsasl2-dev,
               libsearchclient-dev (>= 0.6.3),
               libxss-dev,
               pkg-config,
               pkg-kde-tools (>= 0.12),
               shared-mime-info (>= 0.30),
               xsltproc,
               zlib1g-dev
Build-Depends-Indep: dblatex
Standards-Version: 3.9.5
XS-Testsuite: autopkgtest
Homepage: http://pim.kde.org/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-sc/kdepim.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-sc/kdepim.git

Package: kolab-desktop-client
Section: metapackages
Architecture: all
Depends: akonadi-ldap-resource,
         baloo4,
         zanshin (>= 0.3),
         kontact (= ${binary:Version}),
         kaddressbook (= ${binary:Version}),
         korganizer (= ${binary:Version}),
         kmail (= ${binary:Version}),
         ${misc:Depends}
Description: Kolab Desktop Client
 A union of packages that create the kolab desktop client.

Package: kdepim
Section: metapackages
Architecture: all
Depends: akonadiconsole (>= ${source:Version}),
         zanshin (>= 0.3),
         kaddressbook (>= ${source:Version}),
         kdepim-kresources (>= ${source:Version}),
         kmail (>= ${source:Version}),
         konsolekalendar (>= ${source:Version}),
         kontact (>= ${source:Version}),
         korganizer (>= ${source:Version}),
         ${misc:Depends}
Description: Personal Information Management apps from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of Personal Information Management
 (PIM) desktop applications provided with the official release of KDE.

Package: kaddressbook
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: kdepim-kresources
Breaks: kontact (<< 4:4.1.80), korganizer (<< 4:4.1.80)
Replaces: kontact (<< 4:4.1.80), korganizer (<< 4:4.1.80)
Description: address book and contact data manager
 KAddressBook enables you to manage your contacts efficiently and comfortably.
 It can load and save your contacts to many different locations, including
 the local file system, LDAP servers, and SQL databases.
 .
 This package is part of the KDE PIM module.

Package: kdepim-kresources
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: korganizer
Breaks: korganizer (<< 4:4.1.80)
Replaces: korganizer (<< 4:4.1.80)
Description: KDE PIM resource plugins
 This package adds more resource plugins for KDE PIM applications such as
 blogging, tracking feature plans etc.
 .
 This package is part of KDE, and a component of the KDE PIM module.

Package: kmail
Section: mail
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Recommends: gnupg-agent, gnupg2, pinentry-qt4 | pinentry-x11
Suggests: clamav | f-prot-installer,
          kaddressbook,
          procmail,
          spamassassin | bogofilter | annoyance-filter | spambayes (>= 1.0.4-6) | bsfilter | crm114
Breaks: akonadi-kde (<< 4:4.1.3), kmailcvt (<< 4:3.90.0), kontact (<< 4:4.1.80),
          kdepim-runtime (<< 4:4.13.0-99), kdepim-runtime (>> 4:4.13.1),
          libmessageviewer4 (<< 4:4.13.0-99), libmessageviewer4 (>> 4:4.13.1),
          libkdepim4 (<< 4:4.13.0-99), libkdepim4 (>> 4:4.13.1)
Replaces: akonadi-kde (<< 4:4.1.3),
          kmailcvt (<< 4:3.90.0),
          kontact (<< 4:4.1.80),
          kdepim-runtime (<< 4:4.13.0-99), kdepim-rutime (>> 4:4.13.1),
          libmessageviewer4 (<< 4:4.13.0-99), libmessageviewer4 (>> 4:4.13.1),
          libkdepim4 (<< 4:4.13.0-99), libkdepim4 (>> 4:4.13.1)
Provides: imap-client, mail-reader
Homepage: http://kontact.kde.org/kmail/
Description: full featured graphical email client
 KMail is a fully-featured email client that fits nicely into the KDE
 desktop. It has features such as support for IMAP, POP3, multiple accounts,
 mail filtering and sorting, PGP/GnuPG privacy, and inline attachments.
 .
 This package also contains Nepomuk EMail Feeder Akonadi Agent.
 .
 This package is part of the KDE PIM module.

Package: kontact
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: kaddressbook, kmail, korganizer, zanshin
Suggests: gnokii
Homepage: http://kontact.kde.org
Breaks: akregator (<< 4:4.1.80), korganizer (<< 4:4.1.80)
Replaces: akregator (<< 4:4.1.80), korganizer (<< 4:4.1.80)
Description: integrated application for personal information management
 Kontact is the integrated solution to your personal information management
 needs. It combines applications like KMail, KOrganizer and
 KAddressBook into a single interface to provide easy access to mail,
 scheduling, address book and other PIM functionality.
 .
 This package is part of the KDE PIM module.

Package: korganizer
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Suggests: kdepim-kresources
Homepage: http://kontact.kde.org/korganizer/
Breaks: kaddressbook (<< 4:4.1.80), kontact (<< 4:4.13.0)
Replaces: kaddressbook (<< 4:4.1.80), kontact (<< 4:4.13.0)
Description: calendar and personal organizer
 This package contains KOrganizer, a calendar and scheduling program.
 .
 KOrganizer aims to be a complete program for organizing appointments,
 contacts, projects, etc. KOrganizer natively supports information interchange
 with other calendar applications, through the industry standard vCalendar
 personal data interchange file format. This eases the move from other
 modern PIMs to KOrganizer.
 .
 This package is part of the KDE PIM module.

Package: libcalendarsupport4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: calendar support library
 This library defines calendar related model objects for KDE PIM module
 applications and provides a common interface for accessing and managing
 calendars provided by Akonadi resources.
 .
 This package is part of the KDE PIM module.

Package: libcomposereditorng4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: compose editor library
 This package is part of the KDE PIM module.

Package: libeventviews4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: event viewing library
 This internal library implements a GUI framework for viewing various calendar
 events in agenda, list, month view or timeline fashion.
 .
 This package is part of the KDE PIM module.

Package: libgrammar4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: grammar library
 This package is part of the KDE PIM module.

Package: libincidenceeditorsng4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: incidence editors library
 This library implements GUI components for incidence (including but not
 limited to alarms, attendances, free-busy etc.) editing. These GUI components
 are widely used in various KDE PIM applications.
 .
 This package is part of the KDE PIM module.

Package: libpimcommon4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for common bits of KDEPIM
 This internal library is for sharing some common bits between
 the applications in KDEPIM

Package: libkdepim4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kdepim-runtime (<< 4:4.4.0), kmail (<< 4:4.1.80)
Replaces: kdepim-runtime (<< 4:4.4.0), kmail (<< 4:4.1.80)
Description: KDE PIM library
 This is the internal runtime package for applications from the KDE PIM module.
 It contains shared libraries and data which most of KDE PIM applications use.
 .
 This package is part of the KDE PIM module.

Package: libkdepimdbusinterfaces4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KDE PIM D-Bus interfaces library
 This internal library implements handling of D-Bus interfaces shared among
 some of the KDE PIM applications.
 .
 This package is part of the KDE PIM module.

Package: libkdgantt2-0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Gantt chart library
 This library implements Gantt chart drawing functionality. It allows to easily
 embed the Gantt charts into the application as long as it is capable of
 drawing QWidget or QGraphicsView objects.
 .
 This package is part of the KDE PIM module.

Package: libkleo4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: certificate based crypto library
 This package contains libkleo, a library for Kleopatra and other parts
 of KDE using certificate-based crypto.
 .
 This package is part of the KDE PIM module.

Package: libkpgp4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: gpg based crypto library
 This package contains libkpgp4, a gnupg-library for KMail and other parts of
 kdepim using gpg-based crypto.
 .
 This package is part of the KDE PIM module.

Package: libksieve4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Sieve, the mail filtering language, library
 This library implements a parser and lexer for Sieve, the mail filtering
 language (RFC 3028).
 .
 This package is part of the KDE PIM module.

Package: libkmanagesieve4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Sieve script remote management library
 This library implements a subset of the protocol for remotely managing Sieve
 scripts (RFC 5804). Among other basic operations, it provides an easy to use
 API for listing, retrieving, deleting, activating and uploading of scripts to
 the remote Sieve script server.
 .
 This package is part of the KDE PIM module.

Package: libksieveui4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Sieve, the mail filtering language, GUI library
 This library implements GUI dialogs and elements which enable users to easily
 create, edit and manage their mail filters on the mail servers which support
 the Sieve language (RFC 3028) and the protocol for remotely managing Sieve
 scripts (RFC 5804).
 .
 This package is part of the KDE PIM module.

Package: libmailcommon4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: email utility library
 This package contains common utility functions for dealing with email.
 .
 This package is part of KDE PIM module.

Package: libmailimporter4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: mailimporter library
 This package contains a library for importing mails into KDE applicatiosn
 .
 This package is part of KDE PIM module.

Package: libmessagecomposer4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: message composer library
 This package contains the message composer library. It provides basic e-mail
 message composing facilities.
 .
 This package is part of KDE PIM module.

Package: libmessagecore4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: message core library
 This package contains the message core library. It provides basic e-mail
 message handling facilities.
 .
 This package is part the KDE PIM module.

Package: libmessagelist4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: message list library
 This package contains the message list library. It provides a widget for the
 e-mail message lists with extensive filtering, grouping and useful features.
 .
 This package is part of the KDE PIM module.

Package: libmessageviewer4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: message viewer library
 This package contains the message viewer library which implements feature-rich
 and highly configurable widget for viewing e-mail messages.
 .
 This package is part of the KDE PIM module.

Package: libsendlater4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: send later library
 This package is part of the KDE PIM module.

Package: libtemplateparser4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KMail template parser library
 This library implements a parser for the mail templates which KMail uses to
 enable customization of initial structure for the new, reply or forwarded
 messages.
 .
 This package is part of the KDE PIM module.

Package: akonadiconsole
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: akonadi-kde (<< 4:4.3.0), kdepim-runtime (<< 4:4.4.0)
Replaces: akonadi-kde (<< 4:4.3.0), kdepim-runtime (<< 4:4.4.0)
Description: management and debugging console for akonadi
 Akonadi Console is a useful utility that can be used to explore or manage
 Akonadi. Since this utility exposes Akonadi internals, it is very useful for
 debugging but may also prove handy in other cases.
 .
 This package is part of the KDE PIM module.

Package: libnoteshared4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: notes support library
 This library defines notes related model objects for KDE PIM module
 applications and provides a common interface for accessing and managing
 notes provided by Akonadi resources.
 .
 This package is part of the KDE PIM module.

Package: kdepim-dbg
Priority: extra
Section: debug
Depends: kdepim  (= ${source:Version}) |
 kaddressbook (= ${binary:Version}) |
 kdepim-kresources (= ${binary:Version}) |
 kmail (= ${binary:Version}) |
 konsolekalendar (= ${binary:Version}) |
 kontact (= ${binary:Version}) |
 korganizer (= ${binary:Version}),
         kdepimlibs-dbg,
         ${misc:Depends}
Breaks: kdeutils-dbg (<< 4:4.0.80)
Replaces: kdeutils-dbg (<< 4:4.0.80)
Architecture: any
Description: debugging symbols for kdepim
 This package contains the debugging symbols associated with kdepim. They will
 automatically be used by gdb for debugging kdepim-related issues.
