Source: kdepim
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>, Fathi Boudra <fabo@debian.org>,
 Armin Berres <armin+debian@space-based.de>, Modestas Vainius <modax@debian.org>,
 Michael Meskes <meskes@debian.org>, José Manuel Santamaría Lema <panfaust@gmail.com>,
 George Kiagiadakis <kiagiadakis.george@gmail.com>, Eshat Cakar <info@eshat.de>
Build-Depends: kde-sc-dev-latest (>= 4:4.8.4),
 cmake, debhelper (>= 7.3.16), pkg-kde-tools (>= 0.12),
 kdelibs5-dev (>= 4:4.8), kdepimlibs5-dev (>= 4:4.8), libphonon-dev (>= 4:4.6.0really4.3.80),
 libgpgme11-dev, libboost-dev (>= 1.40.0-2), libboost-graph-dev (>= 1.40.0-2), libsasl2-dev,
 xsltproc, libgnokii-dev, libxss-dev, libqca2-dev (>= 2.0.0), libassuan-dev,
 libstreams-dev (>= 0.6.3), libstreamanalyzer-dev (>= 0.6.3), libsearchclient-dev (>= 0.6.3),
 libstrigihtmlgui-dev (>= 0.6.3), libstrigiqtdbusclient-dev (>= 0.6.3), zlib1g-dev,
 libakonadi-dev (>= 1.7.2), libpisock-dev, shared-desktop-ontologies (>= 0.6.50),
 libgrantlee-dev, libqtwebkit-dev, libqt4-opengl-dev, libprison-dev
Standards-Version: 3.9.3
Homepage: http://pim.kde.org/
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-sc/kdepim.git
Vcs-Git: git://git.debian.org/pkg-kde/kde-sc/kdepim.git

Package: kdepim
Section: metapackages
Architecture: all
Depends: ${misc:Depends}, akregator (>= ${source:Version}), kaddressbook (>= ${source:Version}),
 kalarm (>= ${source:Version}), kdepim-kresources (>= ${source:Version}), 
 kmail (>= ${source:Version}), knode (>= ${source:Version}), knotes (>= ${source:Version}),
 konsolekalendar (>= ${source:Version}), kontact (>= ${source:Version}), korganizer (>= ${source:Version}),
 ktimetracker (>= ${source:Version}), kdepim-strigi-plugins (>= ${source:Version}), kjots (>= ${source:Version}),
 kleopatra (>= ${source:Version}), blogilo (>= ${source:Version}),
 akonadiconsole (>= ${source:Version})
Description: Personal Information Management apps from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of Personal Information Management
 (PIM) desktop applications provided with the official release of KDE.

Package: kdepim-mobile
Section: metapackages
Architecture: all
Depends: ${misc:Depends}, kaddressbook-mobile (>= ${source:Version}),
 kmail-mobile (>= ${source:Version}), korganizer-mobile (>= ${source:Version}),
 notes-mobile (>= ${source:Version}), tasks-mobile (>= ${source:Version})
Description: Personal Information Management apps for mobile environments
 This metapackage includes a collection of official KDE Personal Information
 Management (PIM) applications which have been designed for use in the mobile
 environments. Their feature set and user interface focus on convenience and
 ease of use with touchscreen and potentially small size displays.

Package: akregator
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: kontact (<< 4:4.1.80)
Replaces: kontact (<< 4:4.1.80)
Conflicts: kde-l10n
Homepage: http://akregator.kde.org/
Description: RSS/Atom feed aggregator 
 Akregator is a news feed reader. It enables you to follow  
 news sites, blogs and other RSS/Atom-enabled websites without the need to 
 manually check for updates using a web browser. Akregator is designed to be 
 both easy to use and to be powerful enough to read hundreds of news sources 
 conveniently. It comes with Konqueror integration for adding news feeds and 
 with an internal browser for easy news reading.
 .
 This package is part of the KDE PIM module.

Package: kaddressbook
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: kdepim-kresources
Breaks: korganizer (<< 4:4.1.80), kontact (<< 4:4.1.80)
Replaces: korganizer (<< 4:4.1.80), kontact (<< 4:4.1.80)
Conflicts: kde-l10n
Description: address book and contact data manager
 KAddressBook enables you to manage your contacts efficiently and comfortably. 
 It can load and save your contacts to many different locations, including 
 the local file system, LDAP servers, and SQL databases.
 .
 This package is part of the KDE PIM module.

Package: kaddressbook-mobile
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: kdepim-kresources
Description: address book and contact data manager for mobile environments
 This package provides a convenient application for managing your addresses and
 contacts on mobile devices. It focuses on usability with touchscreen displays
 and potentially small screen sizes.
 .
 This package is part of the KDE PIM module.

Package: kalarm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Suggests: kttsd | jovie
Conflicts: kde-l10n
Homepage: http://www.astrojar.org.uk/kalarm/
Description: alarm message, command and email scheduler
 KAlarm provides a graphical interface to schedule personal timed events -
 pop-up alarm messages, command execution and sending emails. There is a
 range of options for configuring recurring events.
 .
 A pop-up alarm can show either a simple text message, or the contents of a
 text or image file. It can optionally be spoken, or play a sound file. You
 can choose its appearance, and set reminders. Among KAlarm's other
 facilities, you can set up templates to allow KAlarm to be used as a 'tea
 timer'.
 .
 This package is part of the KDE PIM module.

Package: kdepim-kresources
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: korganizer
Suggests: knotes
Breaks: korganizer (<< 4:4.1.80)
Replaces: korganizer (<< 4:4.1.80)
Conflicts: kde-l10n
Description: KDE PIM resource plugins
 This package adds more resource plugins for KDE PIM applications such as
 blogging, tracking feature plans etc.
 .
 This package is part of KDE, and a component of the KDE PIM module.

Package: kleopatra
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 gnupg-agent, gnupg2, gpgsm, dirmngr, pinentry-qt4 | pinentry-x11
Conflicts: kde-l10n
Description: certificate Manager
 Kleopatra is a tool for managing X.509 certificates and pgp keys.
 .
 This package is part of the KDE PIM module.

Package: kmail
Section: mail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Recommends: gnupg2, gnupg-agent, pinentry-qt4 | pinentry-x11
Suggests: kaddressbook, kleopatra, spamassassin | bogofilter | annoyance-filter | spambayes | bsfilter | crm114, clamav | f-prot-installer, procmail
Breaks: kmailcvt (<< 4:3.90.0), akonadi-kde (<< 4:4.1.3), kontact (<< 4:4.1.80)
Replaces: kmailcvt (<< 4:3.90.0), akonadi-kde (<< 4:4.1.3), kontact (<< 4:4.1.80)
Provides: imap-client, mail-reader
Conflicts: kde-l10n
Homepage: http://kontact.kde.org/kmail/
Description: full featured graphical email client
 KMail is a fully-featured email client that fits nicely into the KDE
 desktop. It has features such as support for IMAP, POP3, multiple accounts,
 mail filtering and sorting, PGP/GnuPG privacy, and inline attachments.
 .
 This package also contains Nepomuk EMail Feeder Akonadi Agent.
 .
 This package is part of the KDE PIM module.

Package: kmail-mobile
Section: mail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: email client for mobile environments
 This package provides an email client which has been specially designed for
 use on mobile devices. As a result, it focuses on usability with touchscreen
 displays and potentially small screen sizes.
 .
 This package is part of the KDE PIM module.

Package: knode
Section: news
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: kdepim-dev (<< 4:3.4.0), kontact (<< 4:4.1.80)
Replaces: kdepim-dev (<< 4:3.4.0), kontact (<< 4:4.1.80)
Provides: news-reader
Conflicts: kde-l10n
Homepage: http://kontact.kde.org/knode/
Description: graphical news reader
 KNode is an easy-to-use, convenient newsreader. It is intended to be usable
 by inexperienced users, but also includes support for such features as
 MIME attachments, article scoring, and creating and verifying GnuPG
 signatures.
 .
 This package is part of the KDE PIM module.

Package: knotes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: kdepim-kresources
Breaks: kontact (<< 4:4.1.80)
Replaces: kontact (<< 4:4.1.80)
Conflicts: kde-l10n
Description: sticky notes application
 KNotes is a program that lets you write sticky notes. The notes are saved
 automatically when you exit the program, and they display when you open the
 program.  The program supports printing and mailing your notes.
 .
 This package is part of the KDE PIM module.

Package: notes-mobile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: notes application for mobile environments
 This package provides notes taking application which has been specially
 designed for use on mobile devices. Its user interface aims to make it easy to
 write and manage sticky notes via touchscreen displays.
 .
 This package is part of the KDE PIM module.

Package: konsolekalendar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: kde-l10n
Description: konsole personal organizer
 KonsoleKalendar is a command-line interface to KDE calendars.
 KonsoleKalendar complements KOrganizer by providing a console
 frontend to manage your calendars.
 .
 This package is part of the KDE PIM module.

Package: kontact
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: kmail, knotes, akregator, kaddressbook, korganizer
Suggests: gnokii, kjots, ktimetracker, knode
Homepage: http://kontact.kde.org/
Breaks: korganizer (<< 4:4.1.80), akregator (<< 4:4.1.80)
Replaces: korganizer (<< 4:4.1.80), akregator (<< 4:4.1.80)
Conflicts: kde-l10n
Description: integrated application for personal information management
 Kontact is the integrated solution to your personal information management
 needs. It combines applications like KMail, KOrganizer and
 KAddressBook into a single interface to provide easy access to mail,
 scheduling, address book and other PIM functionality.
 .
 This package is part of the KDE PIM module.

Package: tasks-mobile
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: task management application for mobile environments
 This package provides a task management application which user interface has
 been designed for use on the mobile devices.
 .
 This package is part of the KDE PIM module.

Package: korganizer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Suggests: kdepim-kresources
Homepage: http://kontact.kde.org/korganizer/
Breaks: kaddressbook (<< 4:4.1.80), kontact (<< 4:4.1.80)
Replaces: kaddressbook (<< 4:4.1.80), kontact (<< 4:4.1.80)
Conflicts: kde-l10n
Description: calendar and personal organizer
 This package contains KOrganizer, a calendar and scheduling program.
 .
 KOrganizer aims to be a complete program for organizing appointments,
 contacts, projects, etc. KOrganizer natively supports information interchange
 with other calendar applications, through the industry standard vCalendar
 personal data interchange file format. This eases the move from other
 modern PIMs to KOrganizer.
 .
 This package is part of the KDE PIM module.

Package: korganizer-mobile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: calendar and personal organizer for mobile environments
 This package provides a calendar and personal organizer applications which has
 been specially designed for use on mobile devices. KOrganizer Mobile aims
 making it easy and convenient to manage your plans and daily routine on
 touchscreen displays with potentially small screens.
 .
 This package is part of the KDE PIM module.

Package: ktimetracker
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: karm, kontact (<< 4:4.1.80)
Replaces: karm, kontact (<< 4:4.1.80)
Conflicts: kde-l10n
Description: time tracker tool
 KTimetracker is a time tracker for busy people who need to keep track
 of the amount of time they spend on various tasks.
 .
 This package is part of the KDE PIM module.

Package: libcalendarsupport4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: calendar support library
 This package is part of the KDE PIM module.

Package: libeventviews4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: event views library
 This package is part of the KDE PIM module.

Package: libincidenceeditorsng4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: incidence editors library
 This package is part of the KDE PIM module.

Package: libkdepim4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: kmail (<< 4:4.1.80), kdepim-runtime (<< 4:4.4.0)
Replaces: kmail (<< 4:4.1.80), kdepim-runtime (<< 4:4.4.0)
Conflicts: kde-l10n
Description: KDE PIM library
 This is the runtime package for programs that use the libkdepim library.
 .
 This package is part of the KDE PIM module.

Package: libkdepimdbusinterfaces4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE PIM D-Bus interfaces library
 This package is part of the KDE PIM module.

Package: libkdgantt2-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gantt library
 This package is part of the KDE PIM module.

Package: libkleo4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: kde-l10n
Description: certificate based crypto library
 This package contains libkleo, a library for Kleopatra and other parts
 of KDE using certificate-based crypto.
 .
 This package is part of the KDE PIM module.

Package: libkmanagesieve4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: sieve management library
 This package is part of the KDE PIM module.

Package: libkpgp4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Conflicts: kde-l10n
Description: gpg based crypto library
 This package contains libkpgp4, a gnupg-library for KMail and other parts of
 kdepim using gpg-based crypto.
 .
 This package is part of the KDE PIM module.

Package: libksieve4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: kde-l10n
Description: mail/news message filtering library
 This is the runtime package for programs that use the libksieve library.
 .
 This package is part of the KDE PIM module.

Package: libksieveui4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mail/news message filtering library, GUI part
 This is the GUI part of the libksieve library.
 .
 This package is part of the KDE PIM module.

Package: libmailcommon4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: email utility library
 This package contains common utility functions for dealing with email.
 .
 This package is part of KDE PIM module.

Package: libmessagecomposer4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: message composer library
 This package contains the message composer library. It provides basic e-mail
 message composing facilities.
 .
 This package is part of KDE PIM module.

Package: libmessagecore4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: kde-l10n
Description: message core library 
 This package contains the message core library. It provides basic e-mail
 message handling facilities.
 .
 This package is part the KDE PIM module.

Package: libmessagelist4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: kde-l10n
Description: message list library
 This package contains the message list library. It provides a widget for the
 e-mail message lists with extensive filtering, grouping and useful features.
 .
 This package is part of the KDE PIM module.

Package: libmessageviewer4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: kde-l10n
Description: message viewer library
 This package contains the message viewer library which implements feature-rich
 and highly configurable widget for viewing e-mail messages.
 .
 This package is part of the KDE PIM module.

Package: libtemplateparser4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: template parser library
 This package is part of the KDE PIM module.

Package: libkdepimmobileui4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kdepim-mobileui-data (= ${source:Version})
Description: user interface library for KDE PIM mobile applications
 This package contains a base user interface library for KDE PIM mobile
 applications. It defines mobile UI design priciples in order to establish
 consistent look&feel among KDE PIM mobile applications.
 .
 This package is part of the KDE PIM module.

Package: kdepim-mobileui-data
Section: libs
Architecture: all
Depends: ${misc:Depends}
Description: common data files for KDE PIM mobile applications
 This package contains data files which may be used by all KDE PIM mobile
 applications. It provides common UI components (mostly QML) and various
 icons and images used by these shared UI elements.
 .
 This package is part of the KDE PIM module.

Package: kdepim-strigi-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PIM file format plugins for Strigi Desktop Search
 This package contains plugins to allow Strigi Desktop Search to easily
 index your PIM-data (calendar, contacts, emails, ...).
 .
 This package is part of KDE, and a component of the KDE PIM module.

Package: kjots
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: kontact (<< 4:4.1.80)
Replaces: kontact (<< 4:4.1.80)
Conflicts: kde-l10n
Section: utils
Description: note-taking utility 
 Kjots is a notebook utility that organizes notes using groups of pages.
 .
 This package is part of the KDE PIM module.

Package: blogilo
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql-sqlite
Conflicts: kde-l10n
Description: graphical blogging client 
 Blogilo is a Free/Open Source Blogging client, focused on simplicity and
 usability. Currently featured:
 .
  * A full featured WYSIWYG editor and an HTML editor.
  * Previewing your post with your blog style, like when you are visiting it at
    your blog.
  * Support for Blogger1.0, MetaWeblog, MovableType (Wordpress supports all of
    these) and Google GData (used on Blogspot.com blogs) APIs.
  * Support for creating/modifying/deleting posts.
  * Support for creating drafts and scheduled posts.
  * Support for uploading media files to your blog (only on supported APIs e.g.
    MetaWeblog and MovableType).
  * Support for fetching your recent blog entries.
  * Support for adding images to post from your system. It will upload them on
    Submitting post to blog (only on supported APIs e.g. MetaWeblog and
    MovableType).
  * Support for saving local entries before publishing.
  * Saving your writing copy to prevent data loss, at configurable intervals.
  * Internal auto spell checker. (KDE spell checker used so most of languages
    are supported.)
 .
 This package is part of the KDE PIM module.

Package: akonadiconsole
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: akonadi-kde (<< 4:4.3.0), kdepim-runtime (<< 4:4.4.0)
Replaces: akonadi-kde (<< 4:4.3.0), kdepim-runtime (<< 4:4.4.0)
Description: management and debugging console for akonadi
 Akonadi Console is a useful utility that can be used to explore or manage
 Akonadi. Since this utility exposes Akonadi internals, it is very useful for
 debugging but may also prove handy in other cases.
 .
 This package is part of the KDE PIM module.

Package: kdepim-dbg
Priority: extra
Section: debug
Depends: ${misc:Depends}, kdepimlibs-dbg,
 kdepim  (= ${source:Version}) |
 kaddressbook (= ${binary:Version}) |
 kalarm (= ${binary:Version}) |
 kdepim-kresources (= ${binary:Version}) |
 kdepim-strigi-plugins (= ${binary:Version}) |
 kjots (= ${binary:Version}) |
 kleopatra (= ${binary:Version}) |
 kmail (= ${binary:Version}) |
 knode (= ${binary:Version}) |
 knotes (= ${binary:Version}) |
 konsolekalendar (= ${binary:Version}) |
 kontact (= ${binary:Version}) |
 korganizer (= ${binary:Version}) |
 ktimetracker (= ${binary:Version}) |
 blogilo (= ${binary:Version}) |
 kaddressbook-mobile (= ${binary:Version}) |
 kmail-mobile (= ${binary:Version}) |
 korganizer-mobile (= ${binary:Version}) |
 notes-mobile (= ${binary:Version}) |
 tasks-mobile (= ${binary:Version}) |
 libcalendarsupport4 (= ${binary:Version}) |
 libeventviews4 (= ${binary:Version}) |
 libincidenceeditorsng4 (= ${binary:Version}) |
 libkdepim4 (= ${binary:Version}) |
 libkdepimdbusinterfaces4 (= ${binary:Version}) |
 libkdgantt2-0 (= ${binary:Version}) |
 libkleo4 (= ${binary:Version}) |
 libkmanagesieve4 (= ${binary:Version}) |
 libkpgp4 (= ${binary:Version}) |
 libksieve4 (= ${binary:Version}) |
 libksieveui4 (= ${binary:Version}) |
 libmaildir4 (= ${binary:Version}) |
 libmailcommon4 (= ${binary:Version}) |
 libmessagecomposer4 (= ${binary:Version}) |
 libmessagecore4 (= ${binary:Version}) |
 libmessagelist4 (= ${binary:Version}) |
 libmessageviewer4 (= ${binary:Version}) |
 libtemplateparser4 (= ${binary:Version})
Breaks: kdeutils-dbg (<< 4:4.0.80)
Replaces: kdeutils-dbg (<< 4:4.0.80)
Architecture: any
Description: debugging symbols for kdepim
 This package contains the debugging symbols associated with kdepim. They will
 automatically be used by gdb for debugging kdepim-related issues.
