#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk
libpkgs_gen_strict_local_shlibs = $(libpkgs_all_packages)
include /usr/share/pkg-kde-tools/qt-kde-team/2/library-packages.mk

override_dh_auto_configure:
	$(overridden_command) -- -DKDEPIM_BUILD_MOBILE=OFF

.PHONY: override_dh_auto_test

rm_mo = rm -f debian/tmp/usr/share/locale/*/LC_MESSAGES/$1

override_dh_auto_install:
	$(overridden_command)
	
	# Remove unused translations with the help of wildcards.
	# Otherwise they would clutter debian/not-installed
	
	# Examples (examples/)
	$(call rm_mo,mailreader.mo)
	$(call rm_mo,plasma_applet_kpapplet.mo)
	
	# Mobile stuff
	$(call rm_mo,libkdepimmobileui.mo)
	$(call rm_mo,kaddressbook-mobile.mo)
	$(call rm_mo,kmail-mobile.mo)
	$(call rm_mo,korganizer-mobile.mo)
	$(call rm_mo,notes-mobile.mo)
	$(call rm_mo,tasks-mobile.mo)

# Strict local dependencies (there are no external ones anyway)
override_dh_makeshlibs:
	$(overridden_command) -V

override_dh_strip:
	$(overridden_command) --dbg-package=kdepim-dbg
